# Project exclude paths
/.gradle/
/Minesweeper (Kotlin)/task/build/
/Minesweeper (Kotlin)/task/out/
/Minesweeper (Kotlin)/task/out/production/classes/
/Topics/Enum/The rainbow order/out/
/Topics/Enum/The rainbow order/out/production/classes/